<br>

<div class="container" ng-controller="RootController" ng-init='user=<%-(user?JSON.stringify(user):"false")%>' ng-view>

	<h3>Passport Lately</h3>

	<p ng-if="!user.id">	
		<a href="/auth/lately">Login</a>
	</p>

	<p ng-if="user.id">		
		<a href="/profile" ng-class="path=='/profile'? 'text-success':''">Profile</a> | 		
		<a href="/dashboards" ng-class="path=='/dashboards'? 'text-success':''">Dashboards</a> | 			
		<a href="/generate" ng-class="path=='/generate'? 'text-success':''">Generate</a> | 
		<a href="/logout">Log Out</a>
	</p>

</div>
