
<form ng-controller="GenerateController" ng-submit="submit()">

  <div class="form-group">
    <label>Select a Dashboard</label>
    <select ng-model="selectedDashboard" ng-options="dashboard.name for dashboard in user._json.dashboards" class="form-control"></select>
  </div>

  <div class="form-group" ng-show="selectedDashboard">
    <label>Select a Campaign</label>
    <select ng-model="selectedCampaign" ng-options="campaign.shortName for campaign in selectedDashboard.campaigns" class="form-control"></select>
  </div>	  

  <div class="form-group" ng-show="selectedCampaign">
    <labe>Enter a URL</label>
    <input ng-model="urls.enteredURL" ng-model-options="{debounce:1000}" type="text" class="form-control" placeholder="Enter a URL for your Content, or select from the list below">
  </div>  

  <div class="form-group" ng-show="selectedCampaign">
    <label>Select a URL</label>
    <select ng-model="urls.selectedURL" ng-options="url for url in sampleUrls" class="form-control"></select>
  </div>	 

  <p class="text-danger" ng-if="errorMsg">{{errorMsg}}</p>
  <p class="text-success" ng-if="statusMsg">{{statusMsg}}</p>

  <button type="submit" ng-disabled="!urls.selectedURL && !urls.enteredURL" class="btn btn-primary">Submit</button>

</form>


