<!DOCTYPE html>
<html>

	<head>

		<title>Passport Lately</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>

	</head>

	<body ng-app="LatelyOauth">

		<br>
		<div class="container" ng-controller="RootController" ng-init='user=<%-(user?JSON.stringify(user):"false")%>' ng-view>

		<h3>Passport Lately</h3>

		<p ng-if="!user.id">	
			<a href="/auth/lately">Login</a>
		</p>

		<p ng-if="user.id">		
			<a href="/profile" ng-class="path=='/profile'? 'text-success':''">Profile</a> | 		
			<a href="/dashboards" ng-class="path=='/dashboards'? 'text-success':''">Dashboards</a> | 			
			<a href="/generate" ng-class="path=='/generate'? 'text-success':''">Generate</a> | 
			<a href="/logout">Log Out</a>
		</p>

		<%- body %>

		</div>

	</body>

	<script src="./app.js"></script>

</html>
