<!DOCTYPE html>
<html>

	<head>

		<title>Passport Lately</title>

		<base href="/"></head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>

	</head>

	<body ng-app="LatelyOauth">

		<br>
		<div class="container" ng-controller="RootController" ng-init='user=<%-(user?JSON.stringify(user):"false")%>'>

			<h3>Passport Lately</h3>

			<p ng-if="!user.id">	
				<a ng-click="login()">Login</a>
			</p>

			<p ng-if="user.id">		
				<a href="/app/profile" ng-class="location.path()=='/app/profile'? 'text-success':''">Profile</a> | 		
				<a href="/app/dashboards" ng-class="location.path()=='/app/dashboards'? 'text-success':''">Dashboards</a> | 			
				<a href="/app/content/generate" ng-class="location.path()=='/app/content/generate'? 'text-success':''">Generate Content</a> | 
				<a href="/app/posts/generate" ng-class="location.path()=='/app/posts/generate'? 'text-success':''">Generate Posts</a> | 				
				<a ng-click="logout()">Log Out</a>
			</p>

			<div ng-view></div>

		</div>

	</body>

	<script src="./scripts/app.js"></script>

</html>
